<mat-toolbar color="primary">
    <span><img src="https://raw.githubusercontent.com/DanWahlin/Angular-JumpStart/main/src/assets/images/people.png"
            alt="People"></span>
    <span style="margin: 0 20px 0 5px;">Customer Manager</span>
    <a routerLink="/customers/card" class="navLink" routerLinkActive="active">Customers</a>
    <a routerLink="/orders" class="navLink" routerLinkActive="active">Orders</a>
    <a routerLink="/about" class="navLink" routerLinkActive="active">About</a>
    <a routerLink="/login" class="navLink" routerLinkActive="active">Login</a>

</mat-toolbar>
<router-outlet></router-outlet>